body {
  background: black;
  color: white;
  font-family: Arial;
}
.calculation-result {
  font-size: 45px;
  margin-top: 15px;
  margin-bottom: 5px;
}
.calculator-button {
  border: none;
  font-size: 27px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 5px;
  color: white;
  /* margin-bottom: 10px; */
}
.gray-button {
  background-color: rgb(51,51,51);
}
.orange-button {
  background-color: rgb(254, 160, 10);
}
.clear-button {
  font-size: 17px;
}